body {
    margin: 0px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    font-family: 'Oxygen', 'Lora', serif;
}

#navbar {
    display: flex;
    width: 98%;
    background-color: #f45b69;
    overflow: hidden;
    border-bottom: 2px aliceblue solid;
    /* visibility: hidden; */
}

.list-links {
    display: flex;
    list-style-type: none;
    padding: 0px;
}

.list-links li {
    display: flex;
    justify-content: space-evenly;
    width: 25vw;
    font-size: 1.1em;
}

#header {
    display: flex;
    width: 98%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: #383838;
    margin-bottom: 2vh;
}

#header p {
    margin: auto;
    font-size: 100px;
    color: aliceblue;
}

#about-me {
    width: 98%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #535252;
    margin-bottom: 2vh;
}

#about-me h2, h3, p{
    text-align: center;
    color: rgb(182, 217, 248);
}

#about-me h2 {
    margin-top: 15vh;
}

#about-me h3, p {
    margin: auto;
    font-family: 'Lora';
}

#languages {
    display: flex;
    justify-content: space-around;
    width: 98%;
    height: 15vh;
    margin: auto;
}

#projects {
    width: 98%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383838;
    margin-bottom: 2vh;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
